.container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.step {
  font-size: 1.5rem;
  font-weight: bold;
}
.subscript {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 0.8rem;
}
.container button {
  margin-top: 2rem;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #dd6400;
  border: 1px solid #df7904;
  border-radius: 50px;
  padding: 0.7rem 3rem;
}
.container .abled:hover {
  background-color: #f38823;
  border-color: #dcae19;
}
.container .disabled {
  cursor: not-allowed;
  color: black;
  background-color: #b3b1b1b0;
  border-color: aliceblue;
}
.uni {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.cur-page {
  color: #f38823;
}
@media (min-width: 270px) and (max-width: 769px) {
  .subscript {
    width: 100%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
}
