.header {
  font-family: 'Alkatara', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  /* padding: 0.25rem 0; */
  margin-bottom: 1.9rem;
  /* margin-top: 0.2rem; */
  background-color: rgba(255, 232, 147, 0.301);
  border-bottom: 1px dotted rgb(213, 153, 43);
}
.logo {
  width: 90px;
  margin-right: 3rem;
}
.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 640px;
  opacity: 0.1;
  /* bottom: 0; */
  z-index: -1;
  /* left: 100px; */
}
.title {
  font-size: 1.7rem;
  font-weight: bold;
}
@media (min-width: 270px) and (max-width: 769px) {
  /* … */
  .header {
    width: 100%;
    display: flex;
  }
  .watermark {
    width: 340px;
    height: 340px;
  }
}
